.env
.vscode
php_errors.log
/vendor/
/temp/
composer.lock
/conf.php
/manage/lib/required/*
/manage/lib/themes/bootstrap/*
/manage/trash/*
/manage/uploaded/*
/logs/*
bsik_m_temp*
cache/
/localtesting/
!**/.keepin