
RewriteOptions inherit
AddDefaultCharset UTF-8
#ErrorDocument 404 /index.php?page=unknown 

# /proxy/ indicates to route through the apache proxy to preserve the GET and POST params.
<IfModule mod_rewrite.c>
    RewriteEngine On
    # RewriteBase /folder
    RewriteRule ^(error)/?$ index.php?module=$1&type=$1 [NC,L,QSA]
    RewriteRule ^(logout)/?$ index.php?module=$1&type=$1 [NC,L,QSA] 
    RewriteRule ^(api)/([\w\d\-\_]+)/?$ index.php?module=$2&type=$1 [NC,L,QSA]
    RewriteRule ^([\w\d\-\_]+)/([\w\d\-\_]+)/?$ index.php?module=$1&which=$2 [NC,L,QSA]
    RewriteRule ^([\w\d\-\_]+)/?$ index.php?module=$1&which=default [NC,L,QSA]
</IfModule>



